{
  "mcpServers": {
    "trello": {
      "type": "stdio",
      "command": "bunx",
      "args": ["@delorenj/mcp-server-trello"],
      "env": {
        "TRELLO_API_KEY": "bc45b5eb239ca5cb8e8b4e509413022d",
        "TRELLO_TOKEN": "{{ trello_token }}"
      }
    }
  }
}
